{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block header %}Контактные данные{% endblock header %}
{% block content %}
 Компания "Интеллектуальные информационные системы"
 <div class="container-dark text-center my-2 border border-5">
 <div class="row ">
 <div class="col-sm-6 ">
 <h3>Адрес</h3>
 <p>г. Курск, ул. Гагарина, д. 27</p>
 </div>
 <div class="col-sm-3 ">
 <h3>Телефон</h3>
 <p>+7 919 178 97 90</p>
 </div>
 <div class="col-sm-3 ">
 <h3>e-mail</h3>
 <p>Grinn@yandex.ru</p>
 </div>
 </div>
 </div>
{% endblock content %}
